html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.footercolor{
  background-color: #6082B6;
}

#background {
  flex-grow: 1; /* Make sure it expands to fill the parent */
  width: 100%;
  height: 100vh; /* Use viewport height to ensure full-screen coverage */
  background-image: url(/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#background {
  height: 100vh;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.main-title {
  font-size: 48px;
  margin: 0;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 32px;
  margin: 8px 0 0;
  font-weight: normal;
  color: #fff;
  letter-spacing: 1px;
}

.shop-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 0px;
  background-color: transparent;
  text-align: center;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.shop-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
