html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.footercolor{
  background-color: #6082B6;
}
.logosize{
  width: 100px;
  height: 100px;
}

#background {
  flex-grow: 1; /* Make sure it expands to fill the parent */
  width: 100%;
  height: 100vh; /* Use viewport height to ensure full-screen coverage */
  background-image: url(/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
  /* Set a max-width to limit the container's width at larger screen sizes */
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

.f1{
  font-family: 'Papyrus', Verdana;
}
